<div class="container be-jobs-div-principal">
  <h3>Back-End Jobs</h3>
  <div class="row">
    <div class="col text-center">
      <h4>Access Token</h4>
      <textarea rows="15" cols="50" >Test</textarea>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="stopBeJobs()">Stop</button>
      <button type="button" class="btn btn-success" (click)="startBeJobs()">Start</button>
  <!--
      <button type="button" class="btn btn-success" (click)="getAccessToken()">Get Token</button>
  -->
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col text-center">
      <h4>Credentials</h4>
      <input type="email"
             [(ngModel)]="userEmail" >Email
      <input type="password"
             [(ngModel)]="userPassword" >Password
      <button type="submit" (click)="getApiToken(userEmail, userPassword)">Get Token</button>
    </div>
  </div>
  -->
</div>



