.mongo-dashboard-div-principal{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}
.mongo-dashboard-div-secondary{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 5px;
}
h3 {
  /*color: #004a99;*/
  color: black;
}

