.msAssetForm-div{
  background-color: white;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 1px;
  margin-right: 1px;
  /*padding: 10px;*/
}
.msAssetForm-form{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  /*padding: 10px;*/
}
/*
textarea{
  visibility:hidden;
}
*/

